# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
.vscode/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Build Files
*.obj
*.pdb
*.ipch
*.tlog
*.idb
*.ilk
*.log

# Rider
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

UpgradeLog.htm